{% extends 'base.html' %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  {% include "admin.js" %}
</script>
{% endblock %}

{% block header %}
<h1>{% block title %}Admin{% endblock %}</h1>
{% endblock %}

{% block content %}
<nav>
  <span>Currently displaying </span><span id="current-view">tweets that haven't been priced (default)</span>
  <button id="dropdown">Change View</button>
  <ul id="filter-options">
    <li class="view-choice-button" id="button-default-view">tweets that haven't been priced (default)</button>
    <li class="view-choice-button" id="button-all-view">all tweets</button>
    <li class="view-choice-button" id="button-price-adjusted-view">manually priced tweets</button>
    <li class="view-choice-button" id="button-real-prices-view">tweets with real prices</button>
  </ul>
</nav>
{% for tweet in tweets %}
  <div class="tweet-price-setter" data-price="{{ tweet[2] }}">
    <div class="tweet">
      {% autoescape off %}
        {{ tweet[1] }}
      {% endautoescape %}
    </div>
    <div>
      <table style="width:50%">
        <tr>
          <th>Current Price: {{ tweet[2] }}</th>
          <th>
            <form method="post" action="/admin">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="tweet_id" id="tweet_id" value="{{ tweet[0] }}"/>
              <input name="price" id="price" required>
              <input type="submit" value="Update Price">
            </form>
          </th>
        </tr>
      </table>
    </div>
  </div>
{% endfor %}
{% endblock %}
