{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}

{% block title %}{% block page_name %}{% endblock %} - Avocados{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">About</h5>
      </div>
      <div class="modal-body">
        The Hyde Park Avocado Price Index  is a REST API and graph interface for the @hpavocadoprice  Twitter account (no affiliation on my part with either Twitter or the account, although I did ask the account owner for permission). The backend of site was built using Selenium  to scrape the Twitter data, Python to parse it, PostgreSQL to save it, and Flask to serve it. The front end uses JavaScript's D3 library to create an interactive visualization.
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-static">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">🥑🥑🥑 Hyde Park Avocado Price Index 🥑🥑🥑</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="about" href="#" data-toggle="modal" data-target="#exampleModal">About</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}
{% block page_content %}{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<style>
@import url('https://fonts.googleapis.com/css?family=Heebo|Teko:600');
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}" />
{% endblock %}
