{% extends 'base.html' %}

{% block title %}Hyde Park Avocado Price Index{% endblock %}

{% block page_content %}
<svg id="mySvg" width="20" height="20">
  <defs id="mdef">
    <pattern id="avocado-img" x="0" y="0" height="20" width="20">
      <image x="0" y="0" width="20" height="20" xlink:href="{{ url_for('static', filename='images/avocado.png') }}"></image>
    </pattern>
  </defs>
</svg>
<div id="graph-container"><div id="graph"></div></div>
</br>
<div class="tweet"><h3>Click on a point in the graph to see the original tweet</h3></div>
</br>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  {% include "index-graph.js" %}
</script>
<script type="text/javascript">
  {% include "index-tweet.js" %}
</script>
{% endblock %}
