.line {
  fill: none;
  stroke: darkgreen;
}
#graph-container {
  background: #C5E5B3;
  width: 900px;
  height: 600px;
  padding: 50px;
  border-radius: 4px;
  margin:0 auto;
}
.tweet {
  background: #C5E5B3;
  width: 900px;
  padding: 50px;
  border-radius: 4px;
  margin:0 auto;
  text-align: center;
}
.tweet h3 {
  display: inline-block;
  color: #202819;
  font-family: 'Heebo', sans-serif;
}
.tweet twitter-widget {
  display: inline-block;
  margin-left: 150px;
}
text {
  color: #202819;
  font-family: 'Heebo', sans-serif;
}
.tooltip {
  background: #A4D189;
  position: absolute;
  border-radius: 3px;
  padding: 4px;
}
